<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
    <h3>Create A New Listing</h3>
    <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" id="title" name="listing[title]" placeholder="Enter title" class="form-control" required>
            <div class="valid-feedback">Title loogs good!</div>
        </div>
        
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea type="text" id="description" name="listing[description]" placeholder="enter Description" class="form-control" required></textarea>
            <div class="invalid-feedback">Please enter a short description</div>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Upload Listing Image</label>
            <input type="file" id="image" name="listing[image]"  class="form-control">
        </div>
        <div class="mb-4">
  <label class="form-label fw-semibold">Choose Features:</label>

  <div class="row">

    <!-- LEFT COLUMN -->
    <div class="col-md-6">

      <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" name="listing[features]" value="beach" id="beach">
        <label class="form-check-label" for="beach">Beach</label>
      </div>

      <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" name="listing[features]" value="mountains" id="mountains">
        <label class="form-check-label" for="mountains">Mountains</label>
      </div>

      <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" name="listing[features]" value="trending" id="trending">
        <label class="form-check-label" for="trending">Trending</label>
      </div>

      <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" name="listing[features]" value="rooms" id="rooms">
        <label class="form-check-label" for="rooms">Rooms</label>
      </div>

      <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" name="listing[features]" value="iconic cities" id="iconic">
        <label class="form-check-label" for="iconic">Iconic Cities</label>
      </div>

      <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" name="listing[features]" value="amazing pools" id="pools">
        <label class="form-check-label" for="pools">Amazing Pools</label>
      </div>

      <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" name="listing[features]" value="camping" id="camping">
        <label class="form-check-label" for="camping">Camping</label>
      </div>

      <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" name="listing[features]" value="farm" id="farm">
        <label class="form-check-label" for="farm">Farm</label>
      </div>

      <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" name="listing[features]" value="arctic" id="arctic">
        <label class="form-check-label" for="arctic">Arctic</label>
      </div>

      <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" name="listing[features]" value="boat" id="boat">
        <label class="form-check-label" for="boat">Boat</label>
      </div>

    </div>

    <!-- RIGHT COLUMN -->
    <div class="col-md-6">

      <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" name="listing[features]" value="ski in out" id="ski">
        <label class="form-check-label" for="ski">Ski-in/out</label>
      </div>

      <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" name="listing[features]" value="apartment" id="apartment">
        <label class="form-check-label" for="apartment">Apartment</label>
      </div>

      <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" name="listing[features]" value="new" id="new">
        <label class="form-check-label" for="new">New</label>
      </div>

      <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" name="listing[features]" value="woodlands" id="woodlands">
        <label class="form-check-label" for="woodlands">Woodlands</label>
      </div>

      <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" name="listing[features]" value="lake" id="lake">
        <label class="form-check-label" for="lake">Lake</label>
      </div>

      <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" name="listing[features]" value="cabins" id="cabins">
        <label class="form-check-label" for="cabins">Cabins</label>
      </div>

      <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" name="listing[features]" value="countryside" id="countryside">
        <label class="form-check-label" for="countryside">Countryside</label>
      </div>

      <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" name="listing[features]" value="bed and breakfasts" id="bnb">
        <label class="form-check-label" for="bnb">Bed & Breakfasts</label>
      </div>

      <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" name="listing[features]" value="campsite" id="campsite">
        <label class="form-check-label" for="campsite">Campsite</label>
      </div>

      <div class="form-check mb-2">
        <input class="form-check-input" type="checkbox" name="listing[features]" value="historical homes" id="historical">
        <label class="form-check-label" for="historical">Historical Homes</label>
      </div>

    </div>

  </div>
</div>
        <div class="row">
            <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input name="listing[price]" id="price" placeholder="Enter price" type="number" class="form-control" required>
            <div class="invalid-feedback">Price should be valid</div>
        </div>
        
        <div class="mb-3 col-md-8">
            <label for="location" class="form-label">Location</label>
            <input type="text" id="location" name="listing[location]" placeholder="Enter Location" class="form-control" required>
            <div class="invalid-feedback">Location should be valid</div>
        </div>
        
        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input type="text" id="country" name="listing[country]" placeholder="Enter Country" class="form-control" required>
            <div class="invalid-feedback">Country should be valid</div>
        </div>
        
        <button class="btn btn-dark add-btn mt-3">ADD</button>
    </form>
    </div>
</div>

